/*
 *  Styles for Ryerson Library homepage
 */

/* Quick link icons section */
.quicklinks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quicklinks li {
  font-size: 0.85em;
  text-align: center;
  width: 100px;
  float: left;
}

.quicklinks li img {
  display: inline;
}
/* END: Quick link icons section */

/* Availability Widget */
/* Reset styles a bit */
#availabilityWidgetWrap h1,
#availabilityWidgetWrap h2,
#availabilityWidgetWrap h3,
#availabilityWidgetWrap h4,
#availabilityWidgetWrap h5,
#availabilityWidgetWrap h6 {
  margin: 0;
  line-height: 1em;
}

#availabilityWidgetWrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Apply styles to make it look right in the sidebar */
#availabilityWidgetWrap .availabilityWidgetHeading {
  font-size: 1.5em;
  padding: 0.5em 0.35em;
}
#availabilityWidgetWrap #availabilityList {
  border-top: 1px solid #ddd;
}

#availabilityWidgetWrap #availabilityList li {
  padding: 0.5em;
}
#availabilityWidgetWrap #availabilityList li + li {
  border-top: 1px solid #ddd;
}
/* END: Availability Widget */

/* Frontpage RSS Widget */
.libnews h2 {
  line-height: 1em;
  padding: 0.2em 0;
}
.libnews h2 a {
  display: inline-block;
  line-height: 1em;
  vertical-align: top;
}
.libnews h2 a + a {
  padding-left: 5px;
}
.libnews h2 .rss-icon {
  width: 24px;
}

#secondary .widget_text h2 {
  border: 1px solid #CCCCCC;
  box-shadow: 0 3px 4px 0 #E8E8E8;
  margin: 0;
  padding: 0.69em;
}

.rss-items {
  border-bottom: 0 none;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

/* Adapted from parent theme card elements, 
   because we have different structure for this element*/
.rss-box,
.card-header + .rss-item,
.rss-item + .rss-item,
.rss-item + .card-footer {
  border-top: 1px solid #ddd;
}

li.rss-item {
  padding: 0.5em;
}
/* END: Frontpage RSS Widget */

/* TODO: Clean up the css underneath here... */
/* Search tabs */
#s_contain{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:14px;
}
#s_contain ul{
        margin:0;
        list-style:none;
        padding:0;
        clear:both;
}
#s_nav{
        height:20px;
}
#s_nav li {
        display:block;
        margin:0 0px 0 0;
        float:left;
}
.s_tab_link, .s_tab_link:link, .s_tab_link:visited{
        text-decoration:none;
        padding: 3px 10px 3px 10px;
        margin-right: 6px;
        color:#333333;
        background-color: #f0f0f0;
        position: relative;
        outline:0;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-radius: 3px 3px 0px 0px;
        border-radius: 3px 3px 0px 0px;
        position: relative;
        border-top: 1px solid #d9d9d9;
        border-right: 1px solid #d9d9d9;
        border-left: 1px solid #d9d9d9;
}
.s_tab_link:hover{
        text-decoartion:underline;
        color:#000000;
        outline:0;
        background-color: #d3dde6;
        border-color: #8cabca;
}
.s_tab_link:active{
        color:#000000;
        outline:0;
}
.s_tab_link span{
        position: absolute;
        top: -8px;
        right: -8px;
        font-size: 10px;
        background: #e4a10d;
        border: 1px solid #a97503;
        box-shadow:inset 0 0 1px 1px #f3c256;
        border-radius: 10px;
        padding: 0px 3px;
        text-shadow: none;
        color: #fff;
        z-index: 9;
}
.s_tab_link.s_tab_selected:link,.s_tab_link.s_tab_selected:visited,.s_tab_link.s_tab_selected:hover,.s_tab_link.s_tab_selected:active{
        text-decoartion:none;
        background-color:#1c5791;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-radius: 3px 3px 0px 0px;
        border-radius: 3px 3px 0px 0px;
        padding: 3px 10px 8px 10px;
        color:#ffffff;
        text-shadow:0 -1px 0px #032648;
        outline:0;
        border:0;
}
#s_nav .s_tab_link:not(.s_tab_selected){
        -webkit-transition: opacity .25s linear;
        transition: opacity .25s linear;
        opacity:0.8;
}
#s_nav:hover .s_tab_link{
        opacity:1;
}

ul#s_content{
  background-color:#1c5791;
  padding:5px;
  /*-webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;*/
}
#s_content li {
    display:none;
    list-style:none;
}
#s_content li.s_tab_open{
    display:block;
}
#s_content .s_sub_nav, .s_sub_content{
    margin:0;
    list-style:none;
    padding:0;
}
#s_content .s_sub_nav li{
        display:block;
        float:left;
}
#s_content .s_sub_tab_link, .s_sub_tab_link:link, .s_sub_tab_link:visited{
        margin: 0px 8px -3px 0;
        padding: 3px 8px 5px 8px;
        text-decoration: none;
        display: inline-block;
        color:#ffffff;
        text-shadow:0 -1px 0px #032648;
        min-width:20px;
        max-width:150px;
        outline:0;
        /* background-color: #174b7e; */
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-radius: 3px 3px 0px 0px;
        border-radius: 3px 3px 0px 0px;
}
#s_content .s_sub_tab_link:hover{
        color:#cfe8ff;
}
#s_content .s_sub_tab_link:active, #s_content .s_sub_tab_selected, #s_content .s_sub_tab_selected:link, #s_content .s_sub_tab_selected:visited, #s_content .s_sub_tab_selected:hover, #s_content .s_sub_tab_selected:active{
        color:#111111;
        text-shadow:0 1px 0px #ffffff;
        background: #f8f8f8;
        background: -moz-linear-gradient(top, #f8f8f8 0%, #f8f8f8 85%, #f5f5f5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(85%,#f8f8f8), color-stop(100%,#f5f5f5));
        background: -webkit-linear-gradient(top, #f8f8f8 0%,#f8f8f8 85%,#f5f5f5 100%);
        background: -o-linear-gradient(top, #f8f8f8 0%,#f8f8f8 85%,#f5f5f5 100%);
        background: -ms-linear-gradient(top, #f8f8f8 0%,#f8f8f8 85%,#f5f5f5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f5f5f5',GradientType=0 );
        background: linear-gradient(top, #f8f8f8 0%,#f8f8f8 85%,#f5f5f5 100%);
        outline:0;
        margin-bottom: -3px;
}
#s_content .s_sub_nav .s_sub_tab_link:not(.s_sub_tab_selected){
        -webkit-transition: opacity .25s linear .2s;
        transition: opacity .25s linear .2s;
        opacity:0.9;
}
#s_content .s_sub_nav:hover .s_sub_tab_link{
        opacity:1;
}
#s_content .s_sub_content li{
        list-style:none;
        display:none;
}
#s_content .s_sub_content li.s_sub_tab_open{
        display:block;
}

.s_tab_wrap{
  padding:10px 10px;
/*  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;*/
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#e8e8e8 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#e8e8e8 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
  background: linear-gradient(top, #f8f8f8 0%,#e8e8e8 100%);
  -webkit-box-shadow: 0px 3px 4px 0px #032648;
  -moz-box-shadow: 0px 3px 4px 0px #032648;
  box-shadow: 0px 3px 4px 0px #032648;
  clear:both;
}

.moreLinks, .moreLinks:link, .moreLinks:visited{
        display:inline-block;
        height:35px;
        line-height:35px;
        border:1px solid #aaa;
        padding: 0 10px;
        margin:0 0 5px 0;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#000000;
        text-shadow:0 1px 0px #ffffff;
        background: #f0f0f0;
        background: -moz-linear-gradient(top, #ffffff 0%, #d0d0d0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d0d0d0));
        background: -webkit-linear-gradient(top, #ffffff 0%,#d0d0d0 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#d0d0d0 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#d0d0d0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0d0d0',GradientType=0 );
        background: linear-gradient(top, #ffffff 0%,#d0d0d0 100%);
        -webkit-box-shadow: 0px 1px 2px 0px #ccc;
        -moz-box-shadow: 0px 1px 2px 0px #ccc;
        box-shadow: 0px 1px 2px 0px #ccc;
        outline:0;
}
.moreLinks:hover{
        background: #f0f0f0;
        background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd));
        background: -webkit-linear-gradient(top, #ffffff 0%,#dddddd 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#dddddd 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#dddddd 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );
        background: linear-gradient(top, #ffffff 0%,#dddddd 100%);
}
.moreLinks:active{
        background: #bbbbbb;
        background: -moz-linear-gradient(top, #bbbbbb 0%, #d9d9d9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#d9d9d9));
        background: -webkit-linear-gradient(top, #bbbbbb 0%,#d9d9d9 100%);
        background: -o-linear-gradient(top, #bbbbbb 0%,#d9d9d9 100%);
        background: -ms-linear-gradient(top, #bbbbbb 0%,#d9d9d9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#d9d9d9',GradientType=0 );
        background: linear-gradient(top, #bbbbbb 0%,#d9d9d9 100%);
        -webkit-box-shadow: 0px 1px 4px 0px #999999 inset;
        -moz-box-shadow: 0px 1px 4px 0px #999999 inset;
        box-shadow: 0px 1px 4px 0px #999999 inset;
        text-shadow:0 1px 0px #cccccc;
        color:#333333;
}
  
.s_search_button{
  float:right;
  display: block;
  width: 43px;
  height: 33px;
  padding: 3px;
  margin: 1px 0 0 0;
  border: 1px solid #F9F9F9;
  color: #444;
  text-shadow: 0px 1px 0px #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f5f5f5;
  background: -moz-linear-gradient(top, #f5f5f5 0%, #ebebeb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ebebeb));
  background: -webkit-linear-gradient(top, #f5f5f5 0%,#ebebeb 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%,#ebebeb 100%);
  background: -ms-linear-gradient(top, #f5f5f5 0%,#ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ebebeb',GradientType=0 );
  background: linear-gradient(top, #f5f5f5 0%,#ebebeb 100%);
  -webkit-box-shadow: 0px 0px 0px 1px #c0c0c0;
  -moz-box-shadow: 0px 0px 0px 1px #c0c0c0;
  box-shadow: 0px 0px 0px 1px #c0c0c0;
}

.lt-ie9 .s_search_button{
  border: 1px solid #c0c0c0;
  height: 35px;
  margin: 0;
}

.s_search_button:active{
  background: #e5e5e5;
  -webkit-box-shadow: 0px 0px 0px 1px #c0c0c0, inset 0 2px 1px 0px #d0d0d0;
  -moz-box-shadow: 0px 0px 0px 1px #c0c0c0, inset 0 2px 1px 0px #d0d0d0;
  box-shadow: 0px 0px 0px 1px #c0c0c0, inset 0 2px 1px 0px #d0d0d0;
  border:1px solid transparent;
}

.lt-ie9 .s_search_button:active{
  border: 1px solid #c0c0c0;
  progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-color:#d7d7d7;
}

.s_search_feild, .inputDiv{
  float:left;
  display:block;
  width:542px;
  height:27px;
  line-height:27px;
  margin:0;
  padding:3px;
  border:1px solid #c0c0c0;
  outline:0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(10%,#ffffff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #ffffff 10%, #ffffff 100%);
  background: -o-linear-gradient(top, #e0e0e0 0%,#ffffff 10%,#ffffff 100%);
  background: -ms-linear-gradient(top, #e0e0e0 0%,#ffffff 10%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff',GradientType=0 );
  background: linear-gradient(top, #e0e0e0 0%,#ffffff 10%,#ffffff 100%);
  -webkit-appearance: none;
}

.inputDiv select{
  display:block;
  border:0;
  outline:0;
  background:transparent;
  width:540px;
  height:27px;
  vertical-align:middle;
  font-size:17px;
}

.s_search_feild:focus{
  box-shadow: 0 0 8px 0 rgba(0, 100, 255, 0.3);
}

#s_contain hr{
  height: 0px;
  border-top: 1px solid #C5C5C5;
  border-bottom: 1px solid white;
  border-right: 0px;
  border-left: 0px;
  clear:both;
}

#s_contain p{
  margin: 0 0 5px 0;
}

#s_contain .s_title{
  font-weight:bold;
}

#s_contain .s_description{
  color:#555555;
    margin:0 0 0 10px;
    font-size:80%;
}