/*
 *  Styles for Ryerson Library homepage
 */

/* Quick link icons section */
.quicklinks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quicklinks li {
  font-size: 0.85em;
  float: left;
  min-height: 125px;
  text-align: center;
  width: 100px;
}

.quicklinks li img {
  display: inline;
}
/* END: Quick link icons section */

/* Availability Widget */
/* Reset styles a bit */
#availabilityWidgetWrap h1,
#availabilityWidgetWrap h2,
#availabilityWidgetWrap h3,
#availabilityWidgetWrap h4,
#availabilityWidgetWrap h5,
#availabilityWidgetWrap h6 {
  margin: 0;
  line-height: 1em;
}

#availabilityWidgetWrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Apply styles to make it look right in the sidebar */
#availabilityWidgetWrap .availabilityWidgetHeading {
  font-size: 1.5em;
  padding: 0.5em 0.35em;
}
#availabilityWidgetWrap #availabilityList {
  border-top: 1px solid #ddd;
}

#availabilityWidgetWrap #availabilityList li {
  padding: 0.5em;
}
#availabilityWidgetWrap #availabilityList li + li {
  border-top: 1px solid #ddd;
}
/* END: Availability Widget */

/* Frontpage RSS Widget */
.libnews h2 {
  line-height: 1em;
  padding: 0.2em 0;
}
.libnews h2 a {
  display: inline-block;
  line-height: 1em;
  vertical-align: top;
}
.libnews h2 a + a {
  padding-left: 5px;
}
.libnews h2 .rss-icon {
  width: 24px;
}

#secondary .widget_text h2 {
  border: 1px solid #CCCCCC;
  box-shadow: 0 3px 4px 0 #E8E8E8;
  margin: 0;
  padding: 0.69em;
}

.rss-items {
  border-bottom: 0 none;
  margin-bottom: 0;
  list-style-type: none;
  padding: 0;
}

/* Adapted from parent theme card elements, 
   because we have different structure for this element*/
.rss-box,
.card-header + .rss-item,
.rss-item + .rss-item,
.rss-item + .card-footer {
  border-top: 1px solid #ddd;
}

li.rss-item {
  padding: 0.5em;
}
/* END: Frontpage RSS Widget */

/* Search tabs widget */
/* Adopt the 'card' look */
.tabset {
  background: #FFF;
  border-radius: 2px;
  border: 1px solid #eee;
  box-shadow: 0px 3px 6px -1px #aaa; 
}

.tabset .tab-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabset .tab-list li {
  display: inline-block;
  cursor: pointer;
  padding: 0.5em;
}

.tabset .tab-list li.active {
  background: #ddd;
}

.tabset .tab-list li + li {
  border-left: 1px solid #ddd;
}

.tabset .tab-display {
  background: #ddd;
  border-top: 1px solid #ddd;
  padding: 0.5em;
}