/*
 *  Styles for Ryerson Library homepage
 */

/* Quick link icons  */
.quicklinks {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.quicklinks li {
  font-size: 0.85em;
  min-height: 125px;
  text-align: center;
  width: 100px;
  display: inline-block;
}

.quicklinks li img {
  display: inline;
}
/* END: Quick link icons */

/* Availability Widget */
/* Reset styles a bit */
#availabilityWidgetWrap h1,
#availabilityWidgetWrap h2,
#availabilityWidgetWrap h3,
#availabilityWidgetWrap h4,
#availabilityWidgetWrap h5,
#availabilityWidgetWrap h6 {
  margin: 0;
  line-height: 1em;
}

#availabilityWidgetWrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Apply styles to make it look right in the sidebar */
#availabilityWidgetWrap .availabilityWidgetHeading {
  font-size: 1.5em;
  padding: 0.5em 0.35em;
}
#availabilityWidgetWrap #availabilityList {
  border-top: 1px solid #ddd;
}

#availabilityWidgetWrap #availabilityList li {
  padding: 0.5em;
}
#availabilityWidgetWrap #availabilityList li + li {
  border-top: 1px solid #ddd;
}
/* END: Availability Widget */

/* Frontpage RSS Feed */
.libnews {
  margin-top: 1em;
}

.libnews h2 {
  line-height: 1em;
  padding: 0.2em 0;
}

.libnews h2 a {
  display: inline-block;
  line-height: 1em;
  vertical-align: top;
}

.libnews h2 a + a {
  padding-left: 2px;
}

.libnews h2 .rss-icon {
  width: 24px;
}

.rss-item h1 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  margin-bottom: 0;
  text-transform: none;
}
.rss-item h1 a {
  text-decoration: none;
}
.rss-item .pubdate {
  font-weight: 700;
  font-size: 0.75em;
}
@media screen and (max-width: 59.9999em) {
  .libnews.card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* END: Frontpage RSS Feed */

/* Frontpage search widget styles */
.search h3 {
  margin: 0;
}

.search hr {
  margin: 0.5em 0;
}

.search form { 
  display: block; 
  position: relative;
}

.search form input, 
.search form button {
  box-sizing: border-box;
}

.search form input[type="search"] {
  width: 100%;
  padding: 3px 6px;
}

.search form.search-bar button {
  position: absolute;
  font-size: 1rem;
  padding: 0.45em 1em;
  right: 0;
  top: 0;
}
/* END: Frontpage search widget styles */

/* Override wpnewcarousels styles */
@media screen and (max-width: 59.9999em) {
  .wpnewcarousels-slider {
    width: 47%;
    float: left;
    margin-bottom: 1.5em;
    margin-left: 1.25%;
    margin-right: 1.25%;
  }
}
/* END: Override wpnewcarousels styles */

/* Featured Titles Carousel */
.featured-slider { display: none; }
.featured-slider.slick-initialized { display: block; }

.slick-slider { margin-bottom: 0; }

.slick-track .slick-slide { transition: opacity 0.2s ease-in-out; }
.slick-track:hover .slick-slide { opacity: 0.65; }
.slick-track:hover .slick-slide:hover { opacity: 1; }

@media screen and (max-width: 59.9999em) {
  .featured-titles.card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* END: Featured Titles Carousel */