
#search {
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  float:none !important;
}
.buttons input {
  -webkit-border-radius: 5px;
  font-size: 14px;
  border: none;
  -moz-border-radius: 5px;
  padding-bottom: 0.2308em;
}
.ie6  .buttons input {
  padding-bottom: 0.2250em;
}
.ie7  .buttons input {
  padding-bottom: 0.2250em;
}
#search .toggle {
  font-size: 11px;
  text-decoration: none;
  padding-left: 6px;
}
#search .reset {
  font-size: 11px;
  text-decoration: none;
  padding-left: 6px;
}
#search .clear {
  font-size: 11px;
  text-decoration: none;
  padding-left: 6px;
}
#search .noadvanced .toggle {
  display: none;
}
#chars-left-notice {
  padding-top: 1px;
  float: right;
}
 .simple .buttons {
  padding-left: 0.3846em;
  vertical-align: top;
  text-align: right;
  cursor:pointer;
}
.ie6  .simple .buttons {
  padding-left: 0.3750em;
}
.ie7  .simple .buttons {
  padding-left: 0.3750em;
}
 .simple .buttons .break {
  height: 0.7692em;
}
.ie6  .simple .buttons .break {
  height: 0.7500em;
}
.ie7  .simple .buttons .break {
  height: 0.7500em;
}
#search .simple .query {
  font-size: 130.77%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  *width: 20.9531em;
  padding: 0px 3px 0px 3px;
  height: 1.2em;
  width: 21.470588em;
}
#search .frontpage .simple .query {
  *width: 23.8234em;
  width: 24.4118em;
}
#search .frontpage .simple .textarea {
  vertical-align: top;
}
#search img {
  cursor: pointer;
}
#search .advanced {
  margin: auto;
  -moz-border-radius-topright: 10px;
  *width: 39.86176em;
  background-color: #f2f2f2;
  -moz-border-radius-topleft: 10px;
  border: 1px solid #cccccc;
  padding: 1.1538em;
  text-align: left;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  width: 40.8462em;
}
.ie6 #search .advanced {
  padding: 1.1250em;
}
.ie7 #search .advanced {
  padding: 1.1250em;
}
#search .advanced .cancel {
  float: right;
}
#search .advanced .fields input[type=text] {
  font-size: 130.77%;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #808080;
  padding: 0px 3px 0px 3px;
  margin-left: 0;
}
#search .advanced .eg {
  font-size: 84.62%;
  color: #808080;
}
#search .advanced .label {
  margin-top: 0.1538em;
  text-align: right;
  width: 13.0769em;
  float: left;
}
.ie6 #search .advanced .label {
  margin-top: 0.1500em;
  width: 12.7500em;
}
.ie7 #search .advanced .label {
  margin-top: 0.1500em;
  width: 12.7500em;
}
#search .advanced label {
  font-size: 92.31%;
  color: #4d4d4d;
}
#search .advanced p {
  margin-bottom: 1.1538em;
  margin-top: 0;
  margin-left: 13.4615em;
  margin-right: 0;
}
.ie6 #search .advanced p {
  margin-bottom: 1.1250em;
  margin-left: 13.1250em;
}
.ie7 #search .advanced p {
  margin-bottom: 1.1250em;
  margin-left: 13.1250em;
}
#search .advanced .date-entry {
  margin-bottom: 1.1538em;
  margin-top: 0;
  margin-left: 13.4615em;
  margin-right: 0;
}
.ie6 #search .advanced .date-entry {
  margin-bottom: 1.1250em;
  margin-left: 13.1250em;
}
.ie7 #search .advanced .date-entry {
  margin-bottom: 1.1250em;
  margin-left: 13.1250em;
}
#search .advanced .buttons {
  text-align: right;
}
#search .advanced .date-entry .min {
  display: inline;
}
#search .advanced .date-entry .max {
  display: inline;
}
#search .advanced .date-entry .error {
  color: red;
}


.fbs-reset {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset h1 {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset h2 {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset h3 {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset h4 {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset h5 {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset h6 {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset p {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset img {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset dl {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset dt {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset dd {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset ol {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset ul {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-reset li {
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: inherit;
}
.fbs-pane {
  background: #ffffff;
}
.fbs-flyout-pane {
  background: #ffffff;
}
li.fbs-nomatch {
  background: #ffffff;
}
a.fbs-more-link {
  background: #ffffff;
}
li.fbs-selected {
  background: #ffffff;
}
.fbs-flyout-images {
  background: #ffffff;
}
#fbs-topic-image {
  background: #ffffff;
}
.fbs-suggestnew {
  color: #444444;
}
.fbs-pane {
  color: #666666;
}
.fbs-flyout-pane {
  color: #666666;
}
.fbs-flyout-subtitle {
  color: #666666;
}
.fbs-topic-properties strong {
  color: #666666;
}
h3.fbs-topic-properties {
  color: #444444;
}
.fbs-flyout-pane p {
  color: #444444;
}
.fbs-item-name {
  color: #333333;
}
li.fbs-help-on-focus {
  color: #333333;
}
li.fbs-nomatch {
  color: #333333;
}
.fbs-nomatch-text {
  color: #333333;
}
.fbs-flyout-pane h3 {
  color: #333333;
}
.fbs-properties-header {
  color: #333333;
}
.fbs-pane {
  border: 1px solid #bbbbbb;
  padding: 2px;
}
.fbs-flyout-pane {
  border: 1px solid #bbbbbb;
  padding: 2px;
}
.fbs-flyout-pane {
  border-color: #cccccc;
}
.fbs-list {
  background-color: #f5f5f5;
}
.fbs-list-icons {
  background-color: #f5f5f5;
}
.fbs-flyout-content {
  background-color: #f5f5f5;
}
.fbs-attribution {
  background-color: #f5f5f5;
}
.fbs-header {
  background-color: #f5f5f5;
}
.fbs-header {
  background: #fefefe;
}
li.fbs-help-on-focus {
  border-bottom: 1px solid #dae3e9;
}
li.fbs-nomatch {
  border-bottom: 1px solid #dae3e9;
}
.fbs-item-name {
  border: 1px solid #f5f5f5;
}
h1#fbs-flyout-title {
  color: #ff6600;
}
li.fbs-selected .fbs-item-name {
  color: #ff6600;
}
li.fbs-selected .fbs-item-name {
  border-color: #ff6600;
  background: #ffffff;
}
.fbs-nomatch-text {
  border-bottom: 1px solid #dae3e9;
  background: #f8f8f8;
}
.fbs-suggestnew {
  background: #eeeeee;
  border-top: 1px solid #dae3e9;
}
#fbs-flyout-title .fbs-flyout-label {
  color: #aaaaaa;
}
#fbs-topic-image {
  border: 1px solid #a9a9a9;
}
.fbs-flyout-images {
  border: 1px solid #a9a9a9;
}
.fbs-suggestnew-button {
  border: 1px solid #9a9a9a;
  color: #999999;
}
.fbs-flyout-pane {
  border: 1px solid #9a9a9a;
  color: #999999;
}
.fbs-suggestnew-button {
  color: #444444;
}
ul.fbs-list {
  border: 1px solid #dae3e9;
}
.fbs-flyout-content {
  border: 1px solid #dae3e9;
}
.fbs-attribution {
  border: 1px solid #dae3e9;
}
.fbs-header {
  border: 1px solid #dae3e9;
}
.fbs-header {
  border-bottom: 0;
}
li.fbs-item {
  border-bottom: 1px solid #dae3e9;
  list-style-type: none;
}
.fbs-attribution {
  border-top: 0;
}
.fbs-pane {
  font-size: 16px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.fbs-flyout-pane {
  font-size: 16px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
ul.fbs-list {
  font-size: 62.5%;
}
.fbs-flyout-content {
  font-size: 62.5%;
}
.fbs-attribution {
  font-size: 62.5%;
}
div.fbs-header {
  font-size: 62.5%;
}
.fbs-pane strong {
  font-weight: bold;
}
.fbs-flyout-pane strong {
  font-weight: bold;
}
.fbs-flyout-content {
  margin: 2px;
}
.fbs-attribution {
  margin: 2px;
}
.fbs-flyout-content {
  margin-bottom: 0;
}
.fbs-attribution {
  margin-top: 0;
}
.fbs-pane {
  width: 325px;
}
.fbs-flyout-pane {
  margin-left: 3px;
  width: 319px;
}
ul.fbs-list {
  overflow: auto;
  border-bottom: 0;
  overflow-x: hidden;
  max-height: 320px;
  border-top: 0;
}
.fbs-flyout-content {
  padding: 5px;
}
.fbs-attribution {
  padding: 5px;
}
.fbs-flyout-content:after {
  clear: both;
  display: block;
  content: ".";
  height: 0;
  visibility: hidden;
}
li.fbs-help-on-focus {
  font-size: 1.4em;
  line-height: 1;
  padding: 6px 8px 7px 6px;
}
li.fbs-nomatch {
  font-size: 1.4em;
  line-height: 1;
  padding: 6px 8px 7px 6px;
}
li.fbs-more {
  background: transparent;
  padding: 0;
}
a.fbs-more-link {
  font-weight: bold;
  font-size: 12px;
  display: block;
  padding: 4px;
}
.fbs-more .fbs-help {
  display: none;
}
.fbs-header {
  font-weight: bold;
  margin: 2px 2px -2px 2px;
  padding: 4px 6px;
}
.fbs-item-name label {
  font-size: 0.9em;
}
.fbs-item-type {
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.fbs-item-name label {
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.fbs-item-name {
  font-size: 1.4em;
  background: #f4f8fb;
  line-height: 1.4em;
  padding: 2px 8px 1px 6px;
}
.fbs-item-name strong {
  font-weight: bold;
}
.fbs-item-type {
  max-width: 40%;
  font-size: 0.7em;
  color: #777777;
  padding-left: 0.25em;
  float: right;
}
li.fbs-selected {
  cursor: pointer;
}
.fbs-status {
  font-size: 0.7em;
  border: 1px solid #dae3e9;
  color: #000000;
  padding: 4px 5px;
}
li.fbs-nomatch {
  padding: 0;
}
.fbs-nomatch-text {
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1;
  display: block;
}
.fbs-nomatch-text {
  padding: 6px 8px 7px 6px;
}
.fbs-nomatch h3 {
  padding: 6px 8px 7px 6px;
}
ul.fbs-search-tips {
  padding: 6px 8px 7px 6px;
}
.fbs-nomatch h3 {
  font-weight: bold;
  font-size: 0.9em;
}
ul.fbs-search-tips li {
  margin-bottom: 0.3em;
  font-size: 0.9em;
  list-style: disc;
  margin-left: 1.6em;
}
.fbs-suggestnew {
  padding: 0.4em 0.3em 0.5em 8px;
}
.fbs-suggestnew-button {
  max-width: 17em;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.2em 0.3em;
  margin-left: 0px !important;
}
.fbs-suggestnew-description {
  margin-bottom: 0.6em;
  font-size: 0.7em;
}
.fbs-more-shortcut {
  font-size: 70%;
  color: #999999;
  margin-left: 0.4em;
}
.fbs-suggestnew-shortcut {
  font-size: 70%;
  color: #999999;
  margin-left: 0.4em;
}
.fbs-placeholder {
  color: #9999aa;
  font-style: italic;
}
h1#fbs-flyout-title {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.3em;
}
h1#fbs-flyout-title .fbs-flyout-template-label {
  font-size: 0.8em;
  color: #999999;
}
#fbs-flyout-title .fbs-flyout-label {
  font-weight: normal;
}
#fbs-topic-image {
  margin-bottom: 5px;
  padding: 1px;
  margin-right: 5px;
  float: left;
}
.fbs-flyout-images {
  margin: 0 10px 0 0;
  padding: 1px 0 1px 1px;
  float: left;
}
.fbs-flyout-images img {
  margin-right: 1px;
  float: left;
}
.fbs-flyout-subtitle {
  margin-bottom: 0.5em;
  font-size: 1.1em;
}
.fbs-flyout-pane h3 {
  margin-bottom: 0.25em;
  font-size: 1em;
  line-height: 1.4;
}
.fbs-properties-header {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0;
}
h3.fbs-topic-properties {
  font-size: 1.2em;
  font-weight: bold;
}
.fbs-topic-properties strong {
  font-size: 0.8em;
  display: inline;
}
.fbs-flyout-pane p {
  font-size: 1.2em;
  line-height: 1.4;
}
p.fbs-flyout-image-true {
  margin-left: 85px;
}
h3.fbs-flyout-image-true {
  margin-left: 85px;
}
h1.fbs-flyout-image-true {
  margin-left: 85px;
}
.fbs-meta-info {
  margin-left: 110px;
}
#fbs-user-flyout li {
  margin-left: 100px;
}
#fbs-domain-flyout .fbs-meta-info {
  margin-left: 145px;
}
.fbs-flyout-list li {
  font-size: 1em;
  margin-left: 15px;
}
#fbs-domain-flyout #fbs-flyout-title {
  margin-bottom: 0.5em;
}
.fbs-attribution {
  padding-right: 72px;
  background-repeat: no-repeat;
  min-height: 15px;
  background-image: url(http://www.freebase.com/resources/images/fbs-attribution.png);
  background-position: center right;
}
.fbs-flyout-types {
  font-size: 1.2em;
  line-height: 1;
  font-style: italic;
}
.fbs-pane {
  margin-top: 3px;
}
.fbs-item-type {
  display: none;
}
.fbs-pane {
  padding: 0;
}
.fbs-flyout-pane {
  padding: 0;
}
.fbs-item-name {
  background: #e6e6e6;
}
li.fbs-item {
  border: none;
}
.fbs-list {
  background: #ffffff;
}
.fbs-list-icons {
  background: #ffffff;
}
.fbs-flyout-content {
  background: #ffffff;
}
.fbs-attribution {
  background: #ffffff;
}
.fbs-header {
  background: #ffffff;
}
ul.fbs-list {
  border: none;
}
.fbs-flyout-content {
  border: none;
}
.fbs-attribution {
  border: none;
}
.fbs-header {
  border: none;
}





#feedback {
  position: relative;
  margin: 10px;
  padding: 10px;
  background-color:#fff;
  font-weight: 100;
  border:1px solid silver;
  color:#000;
 
}

#feedback .content {
  padding: 0.7692em; /*10px */
  *padding: 0.75069em;
  padding-bottom: 1.1538em; /*15px */
  *padding-bottom: 1.1260em;
}

#feedback .error {
  color: red;
}

#feedback.success {
  margin-top: 1.1538em; /*15px */
  *margin-top: 1.1260em;
  margin-bottom: 1.1538em; /*15px */
  *margin-bottom: 1.1260em;
  
}

#feedback .buttons {
  text-align: right;
}

#feedback .throbber {
  float: left;
}

#feedback p {
  margin: 0;
  margin-bottom: 1.1538em; /*15px */
  *margin-bottom: 1.1260em;
  text-align: left;
}

#feedback textarea {
  margin: 0;
  margin-top: 0.7692em; /*10px */
  *margin-top: 0.75069em;
  height: 120px;
  width: 99%;
}

#feedback .prompt {
  margin-bottom: 0.7692em; /*10px */;
  *margin-bottom: 0.75069em;
}

#feedback .label {
  font-size: 12px;
}

#feedback .buttons a {
  border: 1px solid #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: .25em;
}

#feedback .email {
  font-size: 1.1em;
  width: 350px;
}

#feedback .buttons .cancel {
  border: white;
}



.summon-debug {
  display: none;
}

/* Structural Styles */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.newline {
  height: .25em;
}

.invalid {
  border-color: red;
}

.invalid:focus {
  border-color: yellow;
}

.orange {
  color: #D56A00;
}

.white {
  color: #FFF;
}

.grey {
  color: #808080;
}

.bold {
  font-weight: bold;
}

/* resets and defaults */
img {
  margin: 0; padding: 0;
  border: none;
}
a:hover {
    text-decoration: underline;
}


/* theme assets */

.theme-filter-arrow-show, .theme-filter-arrow-hide,
  .theme-lightbulb, .theme-looking-glass,
  .theme-page-left, .theme-page-right,
  .theme-sliderule, .theme-slider-thumb-left, .theme-slider-thumb-right,
  .theme-fulltext,
  .theme-close,
  .theme-preview-button-back, .theme-preview-button-back-active, .theme-preview-button-cite, .theme-preview-button-cite-active, .theme-preview-arrow-up, .theme-preview-arrow-down,
  .theme-remove,
  .theme-thomson-reuters,
  .theme-slider-old-dates,
  .theme-date-expander-icon-left, .theme-date-expander-icon-right,
  .theme-facets-pointer-exclude, .theme-facets-pointer-include, .theme-facets-dialog-pointer,
  .theme-email, .theme-print,
  .theme-drag, .theme-drag-hover, 
  .theme-preview, .theme-preview-hover, .theme-preview-active,
  .theme-save-item, .theme-save-item-hover, .theme-save-item-active,
  .theme-blue-rss, .theme-grey-rss, .theme-color-print-icon, .theme-grey-print-icon,
  .theme-folder, .theme-folder-empty,
  .theme-tooltip-pointer, .theme-tooltip-close, .theme-tooltip-icon,
  .theme-summon-footer-logo, .theme-summon-icon,
  .theme-updating-icon, .theme-recommendation-bulb,
  .theme-full-star, .theme-half-star, .theme-empty-star,
  .theme-tag-icon {
  background: url("assets.png") no-repeat;
}

.theme-filter-arrow-show {
  width: 11px; height: 8px;
}

.theme-filter-arrow-hide {
  width: 8px; height: 11px;
  background-position: -18px 0;
}

.theme-lightbulb {
  width: 22px; height: 26px;
  background-position: 0 -18px;
}

.theme-looking-glass {
  width: 13px; height: 16px;
  background-position: 0 -54px
}

.theme-page-left {
  width: 7px; height: 8px;
  background-position: 0 -72px;
}

.theme-page-right {
  width: 7px; height: 8px;
  background-position: -9px -72px;
}

.theme-slider-thumb-left {
  width: 9px; height: 22px;
  background-position: 0 -99px;
}

.theme-slider-thumb-right {
  width: 9px; height: 22px;
  background-position: -18px -99px;
}

.rtl .theme-slider-thumb-left {
  width: 9px; height: 22px;
  background-position: -18px -99px;
}

.rtl .theme-slider-thumb-right {
  width: 9px; height: 22px;
  background-position: 0 -99px;
}

.theme-fulltext {
  width: 34px; height: 34px;
  background-position: 0 -135px;
}

.theme-close {
  width: 16px; height: 16px;
  background-position: 0 -180px;
}

.theme-preview-button-back {
  width: 53px; height: 23px;
  background-position: 0 -207px;
}

.theme-preview-button-back-active {
  width: 53px; height: 23px;
  background-position: 0 -230px;
}

.theme-preview-button-cite {
  width: 51px; height: 23px;
  background-position: 0 -270px;
}

.theme-preview-button-cite-active {
  width: 51px; height: 23px;
  background-position: 0 -293px;
}

.theme-preview-arrow-up {
  width: 36px; height: 21px;
  background-position: -53px 0px;
}

.theme-preview-arrow-down {
  width: 36px; height: 19px;
  background-position: -53px -28px;
}

.theme-remove {
  width: 15px; height: 15px;
  background-position: 0 -333px;
}

.theme-thomson-reuters {
  width: 17px; height: 16px;
  background-position: 0 -369px;
}

.theme-slider-old-dates {
  width: 22px;
  background-position: 0 -396px;
}

.theme-date-expander-icon-left {
  width: 9px; height: 11px;
  background-position: -54px -75px;
}

.theme-date-expander-icon-right {
  width: 9px; height: 11px;
  background-position: -66px -75px;
}

.theme-facets-pointer-exclude {
  width: 11px; height: 6px;
  background-position: 0 -441px;
}

.theme-facets-pointer-include {
  width: 11px; height: 6px;
  background-position: -18px -441px;
}

.theme-facets-dialog-pointer {
  width: 33px; height: 60px;
  background-position: 0 -459px;
}

.rtl .theme-facets-dialog-pointer {
  width: 33px; height: 60px;
  background-position: -40px -459px;
}


.theme-email {
  width: 19px; height: 15px;
  background-position: 0 -549px;
}

.theme-print {
  width: 18px; height: 18px;
  background-position: 0 -576px;
}

.theme-folder {
  width: 22px; height: 18px;
  background-position: 0 -846px;
}

.theme-folder-empty {
  width: 18px; height: 18px;
  background-position: 0 -819px !important;
}

.theme-drag {
  width: 22px; height: 22px;
  background-position: 0 -603px;
}

.theme-drag-hover {
  width: 22px; height: 22px;
  background-position: 0 -625px;
}

.theme-preview {
  width: 22px; height: 22px;
  background-position: 0 -657px;
}

.theme-preview-hover {
  width: 22px; height: 22px;
  background-position: 0 -679px;
}

.theme-preview:hover {
  width: 22px; height: 22px;
  background-position: 0 -701px;
}

.theme-save-item {
  width: 22px; height: 22px;
  background-position: 0 -738px;
}

.theme-save-item-active {
  width: 22px; height: 22px;
  background-position: -23px -781px;
}

.theme-save-item-hover {
  width: 22px; height: 22px;
  background-position: 0 -760px;
}

.theme-save-item:hover {
  width: 22px; height: 22px;
  background-position: 0 -782px;
}

.theme-grey-rss {
  width: 19px; height: 19px;
  background-position: -54px -51px;
}

.theme-blue-rss {
  width: 19px; height: 19px;
  background-position: -74px -51px;
}

.theme-grey-print-icon {
  width: 18px; height: 18px;
  background-position: -54px -144px;
}

.theme-color-print-icon {
  width: 18px; height: 18px;
  background-position: -74px -144px;
}

.theme-summon-footer-logo {
  width: 81px; height: 18px;
  background-position: -54px -91px;
}

.theme-summon-icon {
  width: 18px; height: 18px;
  background-position: -54px -91px;
}

.tooltip-information .theme-tooltip-pointer {
  width: 18px; height: 10px;
  background-position: 0 -873px;
}

.tooltip-error .theme-tooltip-pointer {
  width: 17px; height: 11px;
  background-position: 0 -981px;
}

.theme-tooltip-close {
  width: 7px; height: 7px;
  background-position: 0 -890px;
}

.theme-updating-icon {
  width: 36px; height: 28px;
  background-position: -54px -112px;
}

.tooltip-information .theme-tooltip-icon {
  width: 25px; height: 25px;
  background-position: 0 -909px;
}

.tooltip-error .theme-tooltip-icon {
  width: 29px; height: 26px;
  background-position: 0 -945px;
}

.theme-recommendation-bulb {
  width: 23px; height: 25px;
  background-position: 0 -20px;
}

.theme-tag-icon {
  width: 21px; height: 21px;
  background-position: -103px -117px;
}

.theme-full-star {
  width: 20px; height: 24px;
  background-position: -54px -162px;  
}
.theme-half-star {
  width: 20px; height: 24px;
  background-position: -75px -162px;  
}
.theme-empty-star {
  width: 20px; height: 24px;
  background-position: -96px -162px;  
}

/* horizontal backgrounds */
.bgh-page-header,
.bgh-default-header, .bgh-dialog-header,
.bgh-facets-header, .bgh-facets-table-header,
.bgh-button, .bgh-search-button, .bgh-search-button-disabled,
.bgh-aqua-header, .bgh-aqua-search-bar {
  background: url(hbackgrounds.png) repeat-x;

}

.bgh-page-header {
  height: 70px;
}

.bgh-default-header {
  height: 24px;
  background-position: 0 0px;
}

.bgh-dialog-header {
  height: 29px;
  background-position: 0 -90px;
}

.bgh-facets-header {
  height: 26px;
  background-position: 0 -135px;
}

.bgh-facets-table-header {
  height: 23px;
  background-position: 0 -180px;
}

.bgh-search-button {
  height: 23px;
  background-position: 0 -216px;
}

.bgh-search-button-disabled {
  height: 23px;
  background-position: 0 -352px;
}

.bgh-button {
  height: 21px;
  background-position: 0 -252px;
}

.bgh-sliderule {
  height: 4px;
  background-position: 0 -288px;
}

.bgh-aqua-header {
  height: 68px;
  background-position: 0 -420px;
}

.bgh-aqua-search-bar {
  height: 68px;
  background-position: 0 -555px;
}



.close-button {
  float:right;
  margin-top:-15px;
  margin-right:-15px;
  width:25px;
  height:24px;
  background-image:url(close-button.png);
  background-position: center right;
  background-repeat:no-repeat;
  cursor:pointer;
}


.colors-text-link {color: #214e95;}
a {color: #214e95;}
.colors-text-headline {color: #d56a00;}
.colors-text-text {color: #4d4d4d;}
html,body {color: #4d4d4d;}
.buttons-primary-button-style {color: #ffffff;background-color: #d56a00;}
.buttons-primary-button-divider {background-color: #ffffff;}
.buttons-secondary-button-style {color: #e6e6e6;background-color: #d56a00;}
.facet-toolbar-background-color {background-color: #e6e6e6;}
.facet-toolbar-arrow-color {color: #214e95;}
.facet-toolbar-label-color {color: #214e95;}
.facet-toolbar-filter-text-color {color: #4d4d4d;}
.facet-toolbar-count-text-color {color: #888888;}
.widgets-date-slider-bars {background-color: #d56a00;border-color: #894400;}
.widgets-date-slider-center-rule {background-color: #ff9022;}

